.button {
  padding: 13px 36px 14px;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  background: #403432;
  color: #f4f6f9;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
