.pictures-list {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}

@media screen and (min-width: 1200px) {
  .pictures-list {
    gap: 15px;
  }
}
