.main-content {
  margin-top: -10px;

  &__container {
    width: 1200px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    &__container {
      width: 1160px;
    }
  }

  &__title {
    margin: 0;
  }
}
