.navbar {
  display: flex;
  place-items: center;
  border-bottom: 1px solid #e1e1e1;
  background: #d9d9d9;
  width: 100vw;

  &__container {
    width: 1200px;
    height: 97px;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    &__container {
      width: 1160px;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    font-size: 14px;

    &-item {
      margin-left: 48px;
    }

    &-item a {
      color: #343030;
      transition: color 0.3s ease-in;

      &:hover {
        color: #03020258;
      }
    }
  }

  &__search {
    margin-left: auto;

    &-input {
      width: 290px;
      height: 48px;
      border: 1px solid #e1e1e1;
      padding: 13px 16px 14px;

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-size: 14px;
        line-height: 1.5;
        font-weight: 400;
        font-family: inherit;
      }
    }
  }
}
