.footer {
  height: 96px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  background: #d9d9d9;

  &__container {
    margin: 0 auto;
    width: 1200px;
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    &__container {
      max-width: 1160px;
    }
  }

  &__logo {
    height: 48px;
    width: 48px;
    border-radius: 4px;
  }

  &__links {
    display: flex;
    align-items: center;
    font-size: 14px;

    &-item {
      margin-left: 48px;
    }
  }

  &__phone {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;

    & img {
      height: 14px;
      width: 14px;
    }

    &-num {
      color: #555555;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.5;
    }
  }

  &__address {
    margin-left: 48px;
    display: flex;
    align-items: center;
    gap: 10px;

    & img {
      height: 14px;
      width: 14px;
    }

    &-text {
      color: #555555;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.5;
    }
  }
}
